<h1 style="font-size: 30px; background-color: #e6e6e6;">Submit your user info here:</h1>

<form method="POST" action="/" style="color: white; font-size: 18px;">
  First Name: <input name="fname"><br><br>
  Last Name: <input name="lname"><br><br>
  Birthday: <input name="bday"><br><br>
  Email: <input name="email"><br><br>
  Picture URL: <input name="pic"><br><br>
  
  <input type="submit">
</form>