<!DOCTYPE html>
<html>
  <head>
    <title>El Gato Feo</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
    <link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
  </head>

  <body style="text-align: center; background: #FF00FF; font-family: 'Annie Use Your Telescope', cursive;">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>